[submodule "libraries/LiquidCrystal_I2C"]
	path = libraries/LiquidCrystal_I2C
	url = https://github.com/johnrickman/LiquidCrystal_I2C.git
[submodule "libraries/Keypad"]
	path = libraries/Keypad
	url = https://github.com/Chris--A/Keypad.git
